/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


$buttonblue: #1A78D0;
$lighterblue: #2A8AE3;
$white: #FFFFFF; 
$orange: #DB632A;
$green: #629923;
$darkergray: #4d4d4d;
$lightergray: #787878;

table {
    border-collapse: collapse
}
tbody {
    width: 100%;
}





html,body,canvas{
    margin:0;
    padding: 0;
}

canvas,svg{
    display: block;
    position: absolute;
    top: 230px;
    left: 0;
}

#shadow {
    top: 300px;
}

svg{
    overflow: hidden;
}

td {
    margin: 0;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

button {
    border: 0;
    background-color: inherit;
    cursor: pointer;
}

a {
    text-decoration: none;
    &:visited {
        color: $buttonblue;
    }
}

h1, h2, p {
    font-family: inherit;
}

/* CSS Reset */

.lobby {
    width: 72%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.gray {
    background-color: #F7F7F5;
}

.white {
    background-color: #FFFFFF;
}

i.white {
    color: black;
}

i.black {
    color: black;
}

.number-label {
    position: absolute;
    font-size: 0.25em;
    right: 3px;
    top: 3px;
    // float: right;
}

.letter-label {
    font-size: 0.25em;
    position: absolute;
    left: 3px;
    bottom: 3px;
}
/* Root */

.hidden {
    display: none;
}

.lobby-table-header {
    display: flex;
    justify-content: space-between;
    padding: .3em .5em;
    background-color: #F0F0F0;
    border-bottom: 0.5px solid lightgray;
    i {
        margin-right: 10px;
    }
    a {
        color: $lightergray;
        &:hover {
            color: $buttonblue;
        }
    }
}

/* Resuable Modules */

.nav-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
    
}

.lichess-logo {
    color: #5e5e5e;
    font-size: 30px;
    span {
        color: #787878;
    }
    &:hover {
        color: $buttonblue;
        span {
            color: $buttonblue;
        }
    }
}


.left-nav {
    display: flex;
    a {
        color: #5e5e5e;
        text-shadow: 0 1px 0 #fff;
        display: block;
        padding: 0 .7rem;
        border: none;
        border-left: 2px solid transparent;
        background-color: inherit;  
        font-family: 'Noto Sans';
    }
    // li {
    //     padding-top: 10px;
    // }
}



.right-nav {
    display: flex;
    line-height: 50px;
    a {
        color: $buttonblue;
        padding: .8em 1em;
        &:hover {
            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.225);
            background-color: #fff;
            border-radius: 3px;
        }
    }
}

.right-nav-button {
    line-height: 50px;
    font-size: 1.1rem;
    padding-left: 10px;
    padding-right: 10px;
    color: #787878;
    &:focus {
        outline: none;
    }
    &:hover {
        color: #000000;

    }
}

.right-nav-search {
    span {
        display: inline-block;
        position: relative;
        input[type="text"] {
            background-color: inherit;
            border: none;
            padding: 0.3em;
            &:focus {
                border: none;
                outline: none;
            }
        }
    }
}

.right-nav-user {
    margin-right: 1em;
}

.navbar-setting-dropdown {
    position: absolute;
    right: 0;
    width: 15%;
    background: #fff;
    z-index: 108;
    // box-shadow: 0 4px 10px 0 rgba(0,0,0,0.225);
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    border-top-right-radius: 0px;
    // display: flex;
    // justify-content: center;
    // font-size: 1em;
    // line-height: 50px;
    // padding: 1em;
    // box-sizing: border-box;
    // align-items: center;
    li {
        .navbar-setting-dropdown-button {
            padding: 1em;
            width: 100%;
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            i {
                color: $green;
            }
            &:hover {
                background-color: $green;
                color: $white;
                i {
                    color: $white;
                }
            }
            span {
                font-family: "Noto Sans"
            }
        }
    }
    .navbar-setting-dropdown-ping {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        padding: 0.5em;
        box-sizing: border-box;
        padding-top: 0.3em;
        border-top: 1px solid lightgray;
        div {
       
            p {
                line-height: 20px;
                margin: 0;
                span {
                    font-weight: bold;
                }
            }
        }
        i {
            color: $green;
            font-size: 1.5em;
        }
    }
}


.battle-dropdown {
    // position: relative;
    span {
        position: relative;
        top: 25%;
        right: 25%;
        font-size: 1em;
        color: $white;
        // line-height: 5px;
        border-radius: 2px;
        background-color: red;
        font-family: "Roboto";
        font-size: 0.7em;
        padding: 0.2em;

        // background-color: $lightergray;
        // color: red;
    }
}

.navbar-battle-dropdown {
    position: absolute;
    right: 0;
    width: 25%;
    background: #fff;
    z-index: 108;
    // box-shadow: 0 4px 10px 0 rgba(0,0,0,0.225);
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    border-top-right-radius: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1em;
    line-height: 50px;
    box-sizing: border-box;
    align-items: center;
    overflow: scroll;
    overflow-x: hidden;
    max-height: 300px;
    font-family: "Roboto";
    font-size: 1.5em;
    li {
        width: 100%;
        &:hover {
            background-color: $green;
            cursor: pointer;
        }
    }
    i {
        padding-right: 1em;
    }

}

.match-link {
    width: 100%;
    padding: 1em;
    button {
        font-family: "Noto Sans";
        font-size: 0.7em;
        display: flex;

    }
}

.navbar-user-dropdown {
    position: absolute;
    right: 0;
    background: #fff;
    width: 18%;
    z-index: 108;
    // box-shadow: 0 4px 10px 0 rgba(0,0,0,0.225);
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    border-top-right-radius: 0px;
    li {
        button {
            padding: 1rem 2rem;
            padding-right: 50px;
            padding-left: 20px;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 14px;
            font-family: "Noto Sans";
            &:hover {
                background-color: #629923;
                color: $white;
                i {
                    color: $white;
                }
            }

        }
        .last-child {
            &:hover {
                background-color: #CC3234;
            }
        }
 
    }
    i {
        margin-right: 10px;
    }
}

.left-nav > li {
    position: relative;
}

.left-nav-dropdown {
    display: none;
    z-index: 5100;
    position: absolute;
    white-space: nowrap;
    left: -2px;
    top: 53px;
    background: #fff;
    border-left: 2px solid $buttonblue;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    // box-shadow: 30px 20px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.225);
    overflow: hidden;
    li {
        &:hover {
            background-color: $buttonblue;
            cursor: pointer;
            a {
                color: $white;
            }
        }
        a {
            padding: 10px;
            padding-right: 80px;
        }
    }
}
  
li:hover ul {
    display: block;
}

.left-nav-dropdown-item:hover {
    background-color: white;
    border-left: 2px solid $buttonblue;

}

.left-nav-button {
    line-height: 50px;
    font-size: calc(12px + 2 * ((100vw - 320px) / 880));

}



/* Top Navigation Bar */

.lobby {
    display: grid;
    grid-area: main;
    grid-gap: 2vmin;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-areas:
        'side app app table2'
        'tv leader leader puzzle'
        // 'about tours tours support'
        // '. simuls simuls .'
        '. forum forum support'
        '. blog blog .';
        // removed winners and added 2nd leader
    /* grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 12em repeat(2, fit-content(0)); */
}

.lobby-app {
    grid-area: app;
    min-height: 300px;
}



.lobby__app {
    height: 600px;
    max-height: calc(100vh - calc(var(--site-header-height) + var(--site-header-margin)) - 2vmin);
}

/* @media (min-width: 800px) {
    .lobby__app {
        height: 600px;
        max-height: calc(100vh - calc(var(--site-header-height) + var(--site-header-margin)) - 2vmin);
    }
} */


.lichess-background-nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 1em;
    font-family: "Roboto";
    span {
        text-align: center;
        width: 100%;
        display: block;
        padding-bottom: 5px;
        font-weight: 300;
        &:hover {
            cursor: pointer;
            color: #D6784F;
            border-bottom: 1px solid #D6784F;
        }
    }
}

.active-lichess-nav {
    color: #D6784F;
    border-bottom: 1px solid #D6784F;
}

.lichess-background {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.225);

    background-image: image-url('lichess.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 1; 
    z-index: -5;
    /* width: 200%; */
    /* width: 100% 100%;
    height: 300px; */
}

.quick-pairing-table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 9px;
    padding: 9px;
    z-index: 5;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around; */
}

.quick-pairing-table-item {
    cursor: pointer;
    /* width: 30%; */
    padding-top: 25%;
    padding-bottom: 25%;
    text-align: center;
    border: 1px solid #d9d9d9;
    color: #4d4d4d;
    background: rgba(255,255,255,0.9);
}

.quick-pairing-table-item:hover {
    background-color: #ECA88C;
    opacity: 0.9;
}

.match-type-number {
    font-size: 2.5em;
    line-height: 1.3em;
    letter-spacing: .1em;
    font-weight: 300;
}

.match-type-text {
    font-size: 1.5em;
    letter-spacing: .1em;
    font-weight: 300;

}

/* Lobby Game Quickplay */



.lobby-table {
    grid-area: table2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    button {
        color: $lightergray;
        font-family: "Roboto";
        display: block;
        width: 100%;
        font-size: 1.1em;
        text-align: center;
        margin: .2em 0;
        padding: .8em;
        cursor: pointer;
        border-radius: 3px;
        margin: 1.2em 0;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.225);
        background-color: #F1F1F1;
        &:hover {
            background-color: #FFFFFF;
            box-shadow: 0 4px 10px 0 rgba(0,0,0,0.225);
        }
        &:focus {
            outline: none;
            border: none;
            box-shadow: none;
            background-color: orange;
        }
    }
    .lobby-table-info {
        position: absolute;
        bottom: 0;
        left: 0;
        p {
            color: $lightergray;
            line-height: 0.8em;
            span {
                font-weight: 700;
            }
        }
    }
    
}

.lobby-forum {
    grid-area: forum;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.225);
    border-radius: 3px;
    font-family: "Noto Sans";
    .lobby-forum-table {
        background-color: $white;
        overflow: hidden;
        padding: 0.5em;
        box-sizing: border-box;
        white-space: nowrap;
        span {
            margin-right: 10px;
        }
    }
    .post-link {
        color: $buttonblue;

        &:visited {
            color: $buttonblue
        }
    }
    .username-link {
        color: $darkergray;
        font-weight: 700;
        &:visited {
            color: $darkergray;
        }
        &:hover {
            color: $buttonblue;
        }
    }
}

.lobby-blog {
    grid-area: blog;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.225);
    border-radius: 3px;
    font-family: "Noto Sans";
    .lobby-blog-table {
        background-color: $white;
        li {
            a {
                color: $darkergray;
                padding: 0.5em;
                display: flex;
                align-items: center;
                .blog-image {
                    width: 20%;
                    overflow: hidden;
                    height: 25%;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                div {
                    margin: 5px;
                }
                .blog-content {
                    width: 80%;
                    overflow: hidden;
                    white-space: nowrap;;
                    p {
                        margin: 0;
                        font-size: 0.8em;
                    }
                    .blog-content-title {
                        font-size: 1.3em;
                        font-weight: bold;
                    }
                }
                span {
                    font-size: 0.6em;
                    color: $lightergray;
                }
                &:hover {
                    background-color: #DEEBF8;
                }
            }
        }
    }
}
//     button:hover {
//         background-color: #FFFFFF;
//         box-shadow: 0 4px 10px 0 rgba(0,0,0,0.225);
    
//     }

// .lobby-table button:hover {
//     background-color: #FFFFFF;
//     box-shadow: 0 4px 10px 0 rgba(0,0,0,0.225);

// }

/* Lobby Table */


.lobby-leaderboard {
    font-family: "Noto Sans";
    grid-area: leader;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.225);
    ul {
        height: 270px;
        overflow: scroll;
        overflow-x: hidden;
    }
    li {
        display: flex;
        justify-content: space-between;
        border-bottom: 0.5px solid lightgray;
        width: 100%;
        padding: 1em;
        box-sizing: border-box;
        cursor: pointer;
        i {
            margin-right: 5px;
            margin-left: 5px;
        }
        span {
            margin-left: 5px;
            margin-right: 5px;
        }
        &:hover {
            background-color: $green;
            i {
                color: $white;
            }
            color: $white;
        }
    }
}



/* Lobby Leaderboard Table */

.chess-game-container {
    z-index: -50;
    display: grid;
    width: 97%;
    margin: 0 auto;
    grid-gap: 2vmin;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-areas:
        'info game game sidebar';
}

.chess-info {
    grid-area: info;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.225);
    background-color: $white;
    height: 12vw;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    i {
        margin-right: 30px;
    }
    div {
        display: flex;
        width: 100%;
        i {
            font-size: 4vw;
            margin-bottom: 2vw;
        }
    }
    span {
        width: 100%;
        display: block;
        font-size: 1.5vw;
        a {
            color: black;
        }
        i {
            color: black;
            font-size: 1.5vw;
        }
    }
}

.chess-body {
    width: 100%;
    margin-bottom: 50px;
    font-size: 3.5vw;
    grid-area: game;
    // font-size: 3.7em;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.225);
}

.chess-sidebar {
    grid-area: sidebar;
    width: 100%;
    font-family: "Noto Sans";
    font-size: 3em;
    // background-color: $white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    .chess-clock-top {
        display: flex;
        justify-content: center;
        line-height: 1em;
        box-shadow: 0 4px 10px 0 rgba(0,0,0,0.225);
        padding: 0.3em 0.2em;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        background-color: $white;
        width: 40%;
        font-family: "Roboto";
        font-weight: 400;
        color: black;

    }
    .chess-clock-bottom {
        display: flex;
        justify-content: center;
        background-color: $white;
        line-height: 1em;
        box-shadow: 0 4px 10px 0 rgba(0,0,0,0.225);
        padding: 0.3em 0.2em;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        width: 40%;
        font-family: "Roboto";
        font-weight: 400;
        color: black;
    }
    .chess-sidebar-info {
        display: flex;
        // justify-content: space-between;
        flex-direction: column;
        width: 100%;
        background-color: $white;
        box-shadow: 0 4px 10px 0 rgba(0,0,0,0.225);
        .chess-sidebar-moves {
            overflow: scroll;
            overflow-x: hidden;
            height: 10em;
            font-size: 0.3em;
            box-sizing: border-box;
            padding-left: 10px;
            span {
                background-color: #D0E4F6;
            }
            
        }
        .chess-sidebar-name {
            border-top: 1px solid lightgray;
            border-bottom: 1px solid lightgray;
            display: flex;
            align-items: center;
            font-size: 0.5em;
            box-sizing: border-box;
            padding-left: 10px;
            i {
                margin-right: 1em;
                font-size: 0.5em;
            }
        }
        .chess-sidebar-buttons {
            display: flex;
            justify-content: center;
            button {

                &:focus {
                    border: none;
                    outline: none;
                }
            }
            i {
                padding: 1em;
                font-size: 1.5em;
                border-radius: 3px;
                &:hover {
                    background-color: $green
                }
            }
        }
    }
}
.chess-body {
    position: relative;
}

.game-over {
    z-index: 10;
    background-color: rgba(0,0,255,0.5);
    width: 100%;
    height: 100%;
    // width: 46.6vw;
    // height: 44.5VW;
    opacity: 0.4;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: "Noto Sans";
    p {
        background-color: rgba(0,0,255,0);
        color: black;
    }
    // bottom: 0;
    // right: 0;

}

// Lobby TV

.lobby-tv {
    grid-area: tv;
    .lobby-tv-info {
        display: flex;
        justify-content: space-between;
        background-color: $white;
        box-shadow: 0 4px 10px 0 rgba(0,0,0,0.225);
        border-radius: 3px;
        padding: 15px;
    }
}

// Lobby Puzzle

.lobby-puzzle {
    grid-area: puzzle;
    .lobby-puzzle-info {
        background-color: $white;
        border-radius: 3px;
        display: flex;
        padding: 5px;
        flex-wrap: wrap;
        box-shadow: 0 4px 10px 0 rgba(0,0,0,0.225);
        div {
            width: 100%;
            display: block;
            text-align: center;

        }
    }
}

/* Chess Game */

.chess-board {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.225);
}

.chess-row {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    cursor: pointer;
}

i.valid {
    color: #88794E;
    font-size: 50%;
    opacity: 0.5;
    z-index: 5;
    position: absolute;
}

i.valid2 {
    color: #827B87;
    font-size: 50%;
    opacity: 0.5;
    z-index: 5;
    position: absolute;
}

.odd {
    color: #F0D8B5;

}

.even {
    color: #B58763;

}



.odd-tile {
    i {
        padding-top: 0.3em;
        padding-bottom: 0.3em;
    }
    background-color: #F0D8B5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.even-tile {
    i {
        padding-top: 0.3em;
        padding-bottom: 0.3em;
    }
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B58763;
}

.odd-thumbnail-tile {
    i {
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        font-size: 1.2vw;
    }
    background-color: #F0D8B5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.even-thumbnail-tile {
    i {
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        font-size: 1.2vw;
    }
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B58763;
}


.valid-tile {
    &:hover {
        background-color: #88794E;
    }
}

.valid-tile2 {
    &:hover {
        background-color: #827B87;
    }
}

.selected-tile {
    background-color: #88976A;
}

.last-prev-tile {
    background-color: #ACA349;
}

.last-after-tile {
    background-color: #CDD27B;
}

.in-check-odd {
    background-color: inherit;

    background-image: radial-gradient(#EB4233, #F0D8B5)
}

.in-check-even {
    background-color: inherit;

    background-image: radial-gradient(#EB4233, #B58763)
}
/* Chess Board */

.black-piece {
    color: black;
}

.white-piece {
    color: white;
}

/* Chess Pieces */

.session-form-button-link {
    width: 60%;
}
.session-form {
    width: 30em;
    margin: auto;
    background-color: #FFFFFF;
    border-radius: 3px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.225);
    --box-padding: calc(15px + 45 * ((100vw - 320px) / 880));
    padding: 5vh var(--box-padding);
    margin-top: 200px;
    margin-bottom: 30px;
    .session-errors {
        color: #D04242;
        font-weight: bold;
    }
    .session-form-options {
        margin-top: 1em;
        display: flex;
        justify-content: space-between;
        a {
            color: $buttonblue;
        }
    }
    p {
        i {
            margin-right: 10px;
        }
    }
    .demo-user-section {
        display: flex;
        justify-content: space-between;
        button {
            width: 40%;
        }
    }
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
}



.form-group label {
    width: 100%;
    margin-bottom: .5rem;
    font-family: 'Noto Sans'
}


.session-form-button {
    font-size: 15px;
    margin-top: 10px;
    background-color: $buttonblue;
    color: #FFFFFF;
    width: 100%;
    padding: 1rem;
    border-radius: 3px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.225);
    i {
        margin-right: 10px;
    }
}

.session-form-button:hover {
    background-color: #2A8AE3;
}

.session-form input {
    display: block;
    width: 100%;
    height: calc(2.7em + 2px);
    background-clip: padding-box;
}

.session-form-button input {
    background-color: inherit;
}

.input-empty {
    border-color: #c33;
}


/* Session Form */

.forum-table {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.225);
    border-radius: 3px;
    width: 77.5%;
    margin: 0 auto;
    margin-bottom: 30px;
    border: 1px solid lightgray;

}

.forum-table-header {
    background-color: #FFFFFF;
    font-size: 2em;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    form {
        display: flex;
        justify-content: flex-end;
    }
}

.forum-table-title {
    font-family: 'Roboto';
    color: #4d4d4d;
    font-weight: normal;
}

.forum-table-title span {
    margin-left: 15px;
}

.forum-table table {
    width: 100%;
    display: table;
}

.forum-table a {
    color: $buttonblue;
}

.forum-index-table-header {
    th {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 30px;
        &:last-child {
            padding-right: 40px;
        }
    }
    border-bottom: 0.5px solid lightgray;
    border-top: 0.5px solid lightgray;
    background-color: #F1F1F1;
}

.table-row {
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    td {
        &:first-child {
            padding-left:50px;
            font-size: 1.5em;
            width: 100%;
        }
        // padding: 1rem;
        padding-right: 40px;
    }
    &:last-child {
        border-bottom: 1px solid lightgray;
    }
    h2 {
        font-weight: 400;
        line-height: 40px;
        margin-bottom: 10px;
    }
    p {
        font-weight: 300;
        line-height: 20px;
        margin-top: 10px;
    }
    a {
        &:hover {
            color: #2A8AE3;
        }
    }
}

.forum-table-title span {
    font-weight: 100;
}

/* Forum Table */

.subforum-table-header {
    background-color: #FFFFFF;
    padding: 50px 50px 20px 50px;
    font-size: 2em;
    border-radius: 3px;
    a {
        color: $buttonblue;
        &:hover {
            color: #2A8AE3;
        }
    }
    .subforum-table-bar {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        button {
            font-size: 0.5em;
        }
    }
}

.page-buttons {
    color: $buttonblue;
    font-size: 0.55em;
    font-family: "Noto Sans";
    padding-left: 0.45em;
    padding-right: 0.45em;
    border-radius: 3px;
    width: 80%;
    &:hover {
        background-color: #E8F2FA;
    }
    i {
        font-size: 1.2em;
    }

}



// .active-page-button {
//     background-color: $buttonblue;
//     color: $white;
// }

#gray-button {
    color: lightgray;
    &:hover {
        background-color: white;
        cursor: default;
    }
}

.subforum-table-title {
    font-size: 1.7em;
    input {
        font-size: 1em;
    }
    i {
        margin-right: 20px;
    }
}
.subforum-table-footer {
    padding-top: 30px;
    font-size: 2em;
    padding-bottom: 1.5em;
    background-color: $white;
    padding-left: 1.5em;
}




.forum-search-table {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.225);
    border-radius: 3px;
    width: 77.5%;
    margin: 0 auto;
    margin-bottom: 30px;
    border: 1px solid lightgray;
    .subforum-table-header {
        .subforum-table-title {
            display: flex;
            justify-content: space-between;
            form {
                font-size: 0.4em;
                display: flex;
                justify-content: flex-end;
            }
        }
    }

}
.forum-search-bar {
    width: 100%;
    font-size: 17px;
    a {
        color: $buttonblue;

    }
}

.forum-search-th {
    padding-left: 1em;
    width: 100%;
}

.forum-search-row {
    width: 100%;
    td {
        &:first-child {
            padding-left: 3em;
        }
        &:last-child {
            padding-right: 1.5em;
        }
    }
    a {
        color: $buttonblue;
        &:hover {
            color: $lighterblue;
        }
    }
}

.subform-table-bar {
    display: flex;
    justify-content: space-between;
}

.new-post-button {
    color: #629923;
    padding: .8em 1em;
    border-radius: 3px;
}

.edit-post-button {
    color: #3784D4;
    padding: .8em 1em;
    border-radius: 3px;
    position: relative;
    margin-left: 5px;
    top: -8px;
    i {
        margin-right: 5px;
    }
}

.update-comment-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
    .update-comment-cancel-button {
        color: $buttonblue;
        font-size: 0.9em;
        margin-right: 20px;
        &:hover {
            cursor: pointer;
            color: #2A8AE3;
        }
    }
    .session-form-button {
        width: 15%;
        margin-top: 0;
    }
}

.update-comment-form {
    margin-top: 15px;
    textarea {
        color: $lightergray;
        height: 300px;
    }
}

.fa-circle {
    margin-right: 5px;
}

.edit-post-button:hover {
    background-color: #EFEFEF;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.225)
}

.new-post-button:hover {
    background-color: #EFEFEF;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.225)
}



/* Subforum Table */

.post-body {
    background-color: $white;
    box-sizing: border-box;
    width: 60%;
    margin: 0 auto;
    border-radius: 3px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.225);
    padding: 5%;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 30px;
    .subforum-table-header {
        padding-left: 0;
    }

}


.comment-container {
    padding: 2rem 0;
    border-top: 1px solid lightgray;
    &:last-child {
        border-bottom: 1px solid lightgray;
        margin-bottom: 50px;
    }
}

.comment-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    .comment-info {
        display: flex;
        justify-content: space-between;
        div {
            margin-right: 1em;
        }
    }
    a {
        color: $buttonblue;
    }
}


/* Post Show */



.post-form-body {
    background-color: #FFFFFF;
    padding: 5vh 60px;
    width: 50%;
    margin: 0 auto;
    border-radius: 3px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.225);
    form {
        border-bottom: 1px solid lightgray;
        margin-bottom: 20px;
    }
    .subforum-table-header {
        padding: 0;
        margin-bottom: 1em;
    }
}


.post-form-errors {
    width: 100%;
    background-color: #F8E0E0;
    border: 1px solid #CC3234;
    border-radius: 20px;
    text-align: center;
    font-size: 1.5em;
    a {
        color: $buttonblue;
    }
    h2 {
        color: #CC3234;
    }
    
}


.post-form-buttons {
    display: flex;
    justify-content: space-between;
    line-height: 50px;
    button {
        width: 25%
    }
    link {
        padding-top: 15px;
    }
}


/* Post Form */

.blog-body-container {
    display: grid;
    // grid-template-columns: max-content auto;
    grid-template-columns: 1fr 14fr;
    grid-template-rows: min-content;
    grid-template-areas: 'menu content';
    width: 67%;
    margin: 0 auto;
    margin-bottom: 50px;
    .blog-navbar {
        margin-top: 20px;
        height: 300px;
        grid-area: menu;
        display: flex;
        flex-wrap: wrap;
        color: $orange;
        a {
            padding-right: 30px;
            width: 100%;
            margin-right: 0;
            &:hover {
                border-right: 1px solid $orange;
                color: $orange;
            }
            color: #5e5e5e;
            line-height: 30px;
        }
        .active {
            border-right: 1px solid $orange;
            color: $orange;
        }
    }
    .blog-body {
        grid-area: content;
        box-sizing: border-box;
        box-shadow: 0 4px 10px 0 rgba(0,0,0,0.225);
        .blog-header {
            .blog-title {
                background-color: $white;
                padding: 3em;
                border-radius: 3px;

                .blog-title-top {
                    display: flex;
                    justify-content: space-between;
                    font-size: calc(20px + 20 * ((100vw - 320px) / 1500));
                    margin-bottom: 30px;
                    i {
                        transform: rotate(45deg);
                        color: #DB632A;
                    }
                }
                .blog-title-bottom {
                    display: flex;
                    justify-content: center;
                    color: $buttonblue;
                    font-size: calc(20px + 10 * ((100vw - 320px) / 1500));
                }
            }
            .blog-header-bottom {
                box-shadow: 0 4px 10px 0 rgba(0,0,0,0.225);
                background-color: #F7F6F5;
                font-family: "Noto Sans";
                padding-top: 30px;
                padding-bottom: 30px;
                border-bottom: 1px solid gray;
                .blog-header-bottom-top {
                    display: flex;
                    justify-content: center;
                    i {
                        margin-right: 5px;
                    }
                    span {
                        margin-right: 20px;
                    }
                }
                .blog-header-bottom-bottom {
                    margin-top: 15px;
                    text-align: center;
                    font-style: italic;
                    font-size: 1.3em;
                    margin-right: 15px;
                }
            }
        }
        .blog-index-show-container {
            padding: 3em;
            box-sizing: border-box;
            display: flex;
            justify-content: space-around;
            background-color: $white;
            .blog-index-show-left {
                width: 40%;
                overflow:hidden; 
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                .img {
                    height: 100%;
                }
            }
            .blog-index-show-right {
                display: flex;
                width: 50%;
                flex-wrap: wrap;
                justify-content: center;
                span {
                    font-size: 1.3em;
                    height: 50%
                }
                button {
                    margin: 0 auto;
                    width: 60%;
                    margin-bottom: 50px;
                }
            }
        }
    }
}


/* Blog Body */

.blog-index-container {
    padding: 3em;
    background-color: $white;
    border-radius: 3px;
    .blog-index-body {
        display: grid;
        // grid-template-columns: repeat(3, 1fr);
        grid-template-columns: repeat(auto-fill, minmax(19em, 1fr));
        grid-gap: 3vmin;
        .blog-index-item {
            width: 100%;
            overflow: hidden;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            // position: relative;
            background-color: #F7F6F5;
            box-shadow: 0 4px 10px 0 rgba(0,0,0,0.225);
            border-radius: 3px;
            color: black;
            &:hover {
                background-color: $buttonblue;
                color: $white;
            }
            .blog-index-item-content {
                box-sizing: border-box;
                padding: 1em;
            }
        }
    }
}

.blog-show-title {
    font-size: 3em;
    background-color: $white;
    padding: 1.5em;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}


.blog-show-body {
    padding: 4em;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: $white;
    span {
        margin-top: 30px;
        font-size: 1.3em;
        margin-bottom: 20%;
        font-family: 'Noto Sans'
    }
}

.blog-body {
    border-radius: 3px;
}
.blog-index-item-img {
    width: 100%;
    height: 100%;
}
/* Blog Index */
.user-body-container {
    display: grid;
    // grid-template-columns: max-content auto;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: min-content;
    grid-template-areas: 'menu content';
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
    .user-navbar {
        height: 300px;
        grid-area: menu;
        display: flex;
        flex-wrap: wrap;
        color: $orange;
        a { 
            display: flex;
            width: 100%;
            margin-right: 0;
            align-items: center;
            justify-content: space-between;
            padding: 1em;
            color: #A5A5A4;
            i {
                color: #A5A5A4;
                font-size: 2em
            }
            &:hover {      
                background-color: #F6F5F4;
                i {
                    color: #659EDC;
                }
            }
            .user-navbar-content {
                width: 40%;
                display: flex;
                flex-wrap: wrap;
                margin-right: 30px;
                span {
                    width: 100%;
                    margin: 0;
                    display: block;
                }
            }
        }
        .active {
            background-color: $white;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.225);
            border-radius: 3px;
            i {
                color: $orange;
            }
           
        }
    }
    .user-body {
        width: 100%;
        background-color: $white;
        box-sizing: border-box;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.225);
        border-radius: 3px;
        .user-body-header {
            padding: 3em;
            display: flex;
            justify-content: space-between;
            .user-body-content {
                font-size: 1.5em;
                .games-link-button {
                    padding: .8em 1em;
                    border-radius: 3px;
                    i {
                        color: $buttonblue;
                    }
                    &:hover {
                        background-color: #EFEFEF;
                        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.225)
                    }
                }
            }
        }
        .user-match-index {
            .user-match-index-item {
                font-family: "Noto Sans JP";
                display: flex;
                padding: 1em;
                border: 1px solid lightgray;
                .user-match-index-item-chess {
                    width: 25%;
                }
                .user-match-index-item-info {
                    margin-left: 20px;
                    position: relative;
                    width: 60%;
                    i {
                        font-size: 2.5em;
                    }
                    .user-match-index-item-info-header {
                        display: flex;
                        div {
                            display: grid;
                            padding: 0 10px;
                            height: 40px;
                            grid-template-rows: 3fr 1fr;     
                            .user-match-index-item-info-mode {
                                font-size: 1.3em;
                            }
                        }
                
                    }
                    .user-match-index-item-battle {
                        margin-top: 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        span {
                            font-size: 1.5em;
                            padding: 1em;
                        }
                    }
                    .user-match-index-item-movestring {
                        position: absolute;
                        bottom: 0
                    }
                }
                &:hover {
                    background-color: #D1E4F6;
                    cursor: pointer;

                }
            }
            .even-match {
                background-color: $white;
            }
            .odd-match {
                background-color: #F7F6F5;
            }
        }
    }
}


// Lobby Side

.lobby-side {
    font-family: "Noto Sans JP";
    margin-top: 23px;
    display: grid;
    grid-area: side;
    grid-template-rows: repeat(4, 50px);
    .lobby-side-item {
        width: 100%;
        box-sizing: border-box;
        font-size: 2vw;
        background: linear-gradient(to bottom, #d1e4f6 0%, #c5d8e9 100%);
        // background-color: #D3E2EF;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.225);
        display: flex;
        align-items: center;
        i {
            // color: #F9FCFD;
            padding: 0.8em 0.5em;
            color: $white;
        }
        span {
            font-weight: 200;
            font-size: 1.5vw;
            color: #4d4d4d;
        }
        &:hover {
            span {
                color: #004F98;
            }
        }
    }
    .lobby-side-info {
        margin-top: 15px;
        a {
            color: $buttonblue;
        }
    }
}

// Lobby Support

.lobby-support {
    grid-area: support;
    display: grid;
    grid-template-rows: repeat(2, 70px);
    grid-gap: 20px; 
    .lobby-support-item {
        background-color: $white;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.225);
        border-radius: 4px;
        display: flex;
        align-items: center;
        color: #D59020;
        padding: 0.5em;
        font-family: "Noto Sans JP";
        &:hover {
            background-color: #D59020;
            color: $white;
        }
        i {
            font-size: 3.2vw;
            margin-left: 0.2em;
        }
        .lobby-support-info {
            font-size: 0.8vw;
            margin-left: 1em;
            display: grid;
            grid-template-rows: 1.5fr 1fr;
            .lobby-support-info-header {
                font-size: 1.5em;
            }
        }
    }
    
}

/* User Show */


.errors-body {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $white;
    padding: 1em;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.225);
    .errors-header {
        display: flex;
        justify-content: space-around;
        width: 60%;
        .errors-header-left {
            font-size: 6.5em;
            margin-right: 0.3em;
        }
        .errors-header-right {
            display: flex;
            flex-wrap: wrap;
            span {
                display: block;
            }
            .errors-header-error {
                box-sizing: border-box;
                padding-top: 0.5em;
                font-size: 2em;
            }
            .errors-header-info {
                font-size: 1em;
                p {
                    margin: 0;
                }
            }
        }
    }
}

// #game {
//     position: relative;
//     height: 200px;
//     width: 800px;
//     // margin-top: 800px;
//     top: 800px;
//     display: block;
// }


/* Error Page */
body {
    // background-color: #EDEBE9;
    background: #edebe9 linear-gradient(to bottom, #dbd7d1, #edebe9 116px) no-repeat;
    font-family: 'Roboto';
    box-sizing: border-box;
    color: #4d4d4d;
    margin: 0;
    font-size: calc(12px + 2 * ((100vw - 320px) / 880));
    
}





/* h1, h2 {
    font-weight: 1;
} */

tr {
    width: 100%
}


input, textarea, select {
    background: #fafaf9;
    border: 1px solid #d9d9d9;
    padding: .6em 1em;
    border-radius: 3px;
    width: 100%;
    font: inherit;
}

// input[type="text"] {
//     width: 100%;
// }

textarea {
    width: 100%;
    resize: vertical;
    box-sizing: border-box;
}

.fa-circle {
    color: #629923;
}

.signup-form-input-group {
    margin-bottom: 10px;
    display: flex;
    span {
        font-family: "Noto Sans";
        margin-left: 10px;
    }
    .pretty {
        height: 100%;
        font-size: 1.5em;
    }
    
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    padding: 0;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

/* Class Modification */

.modal-screen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;
    background-color: rgba(0,0,0,0.8);
}
.modal-content {
    position: absolute;
    width: 30%;
    // background-color: #EDEBE9;
    background-color: #ffffff;
    // background: #fff;
    box-shadow: 0 8px 16px rgba(0,0,0,.1);
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    padding: 3em;
    .mode-input {
        box-sizing: border-box;
        padding-left: 1em;
        padding-right: 1em;
        display: flex;
        margin-bottom: 1em;
        label {
            margin-right: 1em;
        }
    }
    .time-control {
        // background-color: #F7F6F5;
        // border-top: 1px solid lightgray;
        // border-bottom: 1px solid lightgray;
    }
    .rated-input {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        div {
            position: relative;
            
            input[type="radio"] {
                background-color: #F7F6F5;
                width: 50%;
                -webkit-appearance: none;
                box-shadow: 0 2px 5px 0 rgba(0,0,0,0.225);
                padding: 1em 3em;
                cursor: pointer;
                margin: 0;
                z-index: 3;
                &:hover {
                    background-color: $white
                }
            }
            label {
                position: absolute;
                left: 25%;
                top: 25%;

            }
        }

    }
    .color-submit-buttons {
        button {      
            border-radius: 3px;
            background-color: #F7F6F5;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.225);
            padding: 0.5em; 
            font-size: 2em;
            margin-left: 15px;
            margin-right: 15px;
            &:hover {
                background-color: $white;
                i.white {
                    background-color: $white;
                    color: black;
                }
                i.black-to-white {
                    background-color: $white;
                }
            }
            i.white {
                color: $white;
                background-color: #F7F6F5;

            }
            i.black-to-white {
                // background-color: linear-gradient(to right, black, white);
                color: gray;
                background-color: #F7F6F5;
            }
        }
    }
}

// Modal 
// Pretty Checkbox

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.lds-roller {
    // background-color: #EDEBE9;
    background-color: #ffffff;

    // color: $buttonblue;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: $buttonblue;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

a.current-page-button {
    background-color: $buttonblue;
    color: $white;
    cursor: pointer;
    font-size: 0.55em;
    font-family: "Noto Sans";
    padding-left: 0.45em;
    padding-right: 0.45em;
    border-radius: 3px;
    width: 80%;
    &:hover {
        color: $white;
        background-color: $buttonblue;
    }
}

.queue-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    p {
        width: 100%;
    }
}

.time {
    font-size: 3vw;
}

.chess-turn-string {
    font-size: 1.5vw;
}
  
